@import "public.css";

@light: #f9ebb1;
@dark: #8f692e;
@middle: #bea97c;

.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: @dark;
    padding: 0 20px;
    border: 2px solid @dark;
    background-color: @light;

    &:hover {
        color: @light;
        border-color: @light;
        background-color: transparent;
    }
}
.btnAttached {
    margin: 20px 2px 10px;

    &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.input {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: @light;
    width: 80%;
    margin: 10px 0;
    border-bottom: 1px solid @light;
    background-color: transparent;

    &::-webkit-input-placeholder {
        color: @middle;
    }
}
.card {
    text-align: center;
    width: 380px;
    margin: 100px auto 50px;
    padding: 10px 0;
    border: 2px solid @light;
    border-radius: 10px;
}
.dialog {
    position: fixed;
    width: 300px;
    text-align: center;
    padding: 25px 0 15px;
    border: 1px solid @light;

    span {
        font-size: 16px;
        line-height: 24px;
        color: @light;
        margin-bottom: 20px;
    }
    a {
        .btn;

        border-radius: 30px;
    }
}


.m-log {
    & > div {
        input { .input; }
        a { .btn; .btnAttached; }

        &.overturn {
            @animate: rolling 0.8s ease-in forwards;

            -webkit-animation: @animate;
                    animation: @animate;
        }
    }
}
.m-myinfo {
    input {
        .input;

        font-size: 14px;
        text-align: left;
    }
    a { .btn; .btnAttached; }
}
.m-chat {
    div {
        padding-right: 76px;

        input {
            font-size: 16px;
            line-height: 30px;
            color: @light;
            width: 100%;
            padding: 0 10px;
            border: 2px solid @light;
            background-color: transparent;
            box-sizing: border-box;
        }
        a {
            .btn;

            position: fixed;
            right: 0;
            bottom: 0;
        }
    }
}


/* animate */
.rolling {
    to {
        -webkit-transform: rotateY(100deg);
                transform: rotateY(100deg);
    }
}

@-webkit-keyframes rolling { .rolling }
        @keyframes rolling { .rolling }


/* media */
@media screen and (max-width: 600px) {
    .card { width: 80%; }
}