@import "public.css";

@light: #f9ebb1;
@dark: #8f692e;
@middle: #bea97c;

.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: @dark;
    padding: 0 20px;
    border: 2px solid @dark;
    background-color: @light;

    &:hover {
        color: @light;
        border-color: @light;
        background-color: transparent;
    }
}
.btnAttached {
    margin: 20px 2px 10px;

    &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.input {
    font-size: 18px;
    line-height: 36px;
    color: @light;
    width: 80%;
    margin: 10px 0;
    border-bottom: 1px solid @light;
    background-color: transparent;

    &::-webkit-input-placeholder {
        color: @middle;
    }
}
.card {
    text-align: center;
    width: 380px;
    margin: 100px auto 50px;
    padding: 10px 0;
    border: 2px solid @light;
    border-radius: 10px;
}
.dialog {
    position: fixed;
    width: 300px;
    text-align: center;
    padding: 25px 0 15px;
    border: 1px solid @light;

    span {
        font-size: 16px;
        line-height: 24px;
        color: @light;
        margin-bottom: 20px;
    }
    a {
        .btn;

        border-radius: 30px;
    }
}
.tips {
    position: fixed;
    font-size: 14px;
    line-height: 20px;
    color: #f0f0f0;
    max-width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(255, 123, 123, 0.8);
}
.hex {
    position: fixed;
    top: 100px;
    z-index: -100;
    width: 80%;
    max-width: 697px;

    img {
        transform-origin: center;

        @animate: rotation 20s linear infinite forwards;

        -webkit-animation: @animate;
                animation: @animate;
    }
}


.m-log {
    & > div {
        input { .input; }
        div a { .btn; .btnAttached; }
        p {
            font-size: 16px;
            line-height: 28px;
            color: @middle;
            padding: 10px 20px 0;

            a { color: @light; }
        }

        &.overturn {
            @animate: rolling 0.8s ease-in forwards;

            -webkit-animation: @animate;
                    animation: @animate;
        }
    }
}
.m-myinfo {
    input {
        .input;

        font-size: 14px;
    }
    & > div a { .btn; .btnAttached; }

    .m-password {
        a {
            position: relative;
            font-size: 14px;
            line-height: 20px;
            color: @dark;
            margin: 10px 0;
            padding-right: 10px;

            .rotate (@deg) {
                -webkit-transform: rotate(@deg);
                        transform: rotate(@deg);
            }

            &:before, &:after {
                content: '';
                display: block;
                width: 7px;
                height: 1px;
                background-color: @dark;
                position: absolute;
                top: 10px;
            }
            &:before { right: -4px;.rotate(130deg); }
            &:after { right: 0;.rotate(-130deg); }
            &.up:before { .rotate(50deg); }
            &.up:after { .rotate(-50deg); }
        }
    }
}
.m-chat {
    padding: 90px 270px 60px 20px;

    .m-send {
        position: relative;
        padding-right: 74px;

        input {
            font-size: 16px;
            line-height: 30px;
            color: @light;
            width: 100%;
            padding: 0 10px;
            border: 2px solid @light;
            background-color: transparent;
            box-sizing: border-box;
        }
        a {
            .btn;

            position: absolute;
        }
    }
    .m-message {
        li {
            margin: 20px 0;

            span, p {
                display: inline-block;
                font-size: 14px;
            }
            span {
                line-height: 36px;
            }
            p {
                position: relative;
                line-height: 20px;
                padding: 8px 15px;
                border-radius: 5px;
            }
            em {
                display: block;
                width: 0;
                height: 0;

                position: absolute;
                top: 50%;

                @transform: rotate(-45deg) translate(0, -50%);

                -webkit-transform: @transform;
                        transform: @transform;
            }

            .style (@color, @direction) {
                text-align: @direction;

                span { float: @direction; color: @color; }
                p { background-color: @color; }
                em { border: 4px solid @color; }
            }

            &.self {
                .style(#15b9a3, right);

                span { padding-left: 20px; }
                p { color: #f0f0f0; }
                em {
                    right: -6px;
                    border-top-color: transparent;
                    border-left-color: transparent;
                }
            }
            &.other {
                .style(#f0f0f0, left);

                span { padding-right: 20px; }
                p { color: #333; }
                em {
                    left: -1px;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                }
            }
            &.failed {
                p { text-decoration: line-through; }
            }
        }
    }
    .m-users {
        position: fixed;
        right: 20px;
        top: 110px;
        width: 200px;
        max-height: 300px;
        padding: 5px 10px;
        border: 1px solid @light;

        li {
            font-size: 14px;
            line-height: 24px;

            span {
                width: 4px;
                height: 4px;
                vertical-align: middle;
                margin-right: 2px;
                border-radius: 50%;
            }
            &.online {
                color: @light;

                span { background-color: #a2ff14; }
            }
            &.offline {
                color: #999;

                span { background-color: transparent; }
            }
        }
    }
}
.chatroom-header {
    padding: 10px 20px;
    min-height: 58px;

    & > div {
        position: relative;
        padding-left: 156px;

        .ctrls {
            position: absolute;
            margin-top: 6px;

            a {
                float: left;
                width: 32px;
                height: 32px;
                margin-right: 20px;
                background: url('../images/ctrls.png') no-repeat 0 0;
                background-size: 32px auto;

                &:nth-child(2) {
                    background-position: 0 -111px;
                }
                &:nth-child(3) {
                    background-position: 0 -74px;
                }
                &:nth-child(4) {
                    background-position: 0 -37px;
                }
            }
        }
        ul {
            max-height: 78px;
            overflow: hidden;

            li {
                font-size: 14px;
                line-height: 26px;
                text-align: right;
                color: @middle;

                span {
                    color: @light;
                    padding-right: 10px;
                }
            }
        }
    }
}


/* animate */
.rolling {
    to {
        -webkit-transform: rotateY(100deg);
                transform: rotateY(100deg);
    }
}
.rotation {
    to {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

@-webkit-keyframes rolling { .rolling }
        @keyframes rolling { .rolling }

@-webkit-keyframes rotation { .rotation }
        @keyframes rotation { .rotation }


/* media */
@media screen and (max-width: 600px) {
    .card { width: 80%; }
}