<!DOCTYPE html>
<html>
<head>
    <title>Users System</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<script id="module_dialog" type="text/module">
    <div class="c-mask js_dialog">
        <div class="dialog-mn c-center">
            <div class="dialog-message">$message</div>
            <a href="$href" class="dialog-btn $btnClass">确定</a>
        </div>
    </div>
</script>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="/js/main.js"></script>