<%- include ../header %>
<div class="lst-news c-header">
    <ul class="js_news"></ul>
</div>
<section class="m-chat">
    <ul class="js_message"></ul>
    <div class="c-footer">
        <input type="text" />
        <a href="javascript:;" class="c-frt js_send">发送</a>
    </div>
</section>
<script id="module_news" type="text/x-module">
    <li><span>$userName</span>进入聊天室</li>
</script>
<script id="module_message" type="text/x-module">
    <li class="$view c-fix"><span>$userName</span><p>$message<em></em></p></li>
</script>
<script>
    var pageData = {
        cur_user: <%= cur_user %>
    };
</script>
<script src="/js/chat.js"></script>
<%- include ../footer %>