<%- include ../header %>
<div class="lst-news c-header">
    <ul class="js_news">
        <li><span>孙梦园</span>进入聊天室</li>
        <li><span>孙梦园</span>进入聊天室</li>
        <li><span>孙梦园</span>进入聊天室</li>
        <li><span>孙梦园</span>进入聊天室</li>
    </ul>
</div>
<section class="m-chat">
    <ul class="js_message">
        <li class="other c-fix"><span>孙梦园</span><p>这里是我发的消息<em></em></p></li>
        <li class="self c-fix"><span>孙梦园</span><p>这里是我发的消息<em></em></p></li>
    </ul>
    <div class="c-footer">
        <input type="text" />
        <a href="javascript:;" class="c-frt js_send">发送</a>
    </div>
</section>
<script id="module_news" type="text/x-module">
    <li><span>$userName</span>进入聊天室</li>
</script>
<script src="/js/chat.js"></script>
<%- include ../footer %>