<%- include ../header %>
<div class="lst-news">
    <ul class="js_news"></ul>
</div>
<section class="m-chat">
    <ul class="js_message"></ul>
    <div class="c-footer">
        <input type="text" />
        <a href="javascript:;" class="js_send">发送</a>
    </div>
</section>
<script src="/js/chat.js"></script>
<%- include ../footer %>