<%- include ../header %>
<!-- 待办 log_user -->
<section class="m-log">
    <div class="card js_area">
        <form id="form_login" autocomplete="off">
            <input type="text" id="log_user" name="user_name" placeholder="昵称" />
            <input type="password" name="password" placeholder="密码" />
        </form>
        <div>
            <a href="javascript:;" class="js_login">登录</a><a href="javascript:;" class="js_overturn">快速注册</a>
        </div>
    </div>
    <div class="card c-hidden js_area">
        <form id="form_register" autocomplete="off">
            <input type="text" id="user_name" name="user_name" placeholder="昵称" />
            <input type="password" id="password" name="password" placeholder="密码" />
        </form>
        <div>
            <a href="javascript:;" class="js_register">注册</a><a href="javascript:;" class="js_overturn">取消</a>
        </div>
    </div>
</section>
<script src="/js/log.js"></script>
<%- include ../footer %>