<%- include ../header %>
<div class="m-log">
    <div class="chat-login">
        <form id="form_login" autocomplete="off">
            <input type="text" id="user_name" name="user_name" placeholder="昵称" />
            <input type="password" id="password" name="password" placeholder="密码" />
        </form>
        <div class="log-btn">
            <a href="javascript:;" class="js_login">登录</a><a href="javascript:;">快速注册</a>
        </div>
    </div>
</div>
<%- include ../footer %>