<%- include ../header %>
<h3>WELCOME</h3>
<form id="form_login">
    <input type="text" id="user_name" name="user_name" placeholder="用户名" />
    <input type="text" id="password" name="password" placeholder="密码" />
    <input type="button" value="login" class="js_login" />
</form>
<%- include ../footer %>
