<%- include ../header %>
<h3><%= username %></h3>
<img src="<%= portrait %>" class="c-block profile-portrait" />

<form enctype="multipart/form-data" id="form_portrait">
    <input type="file" id="portrait" name="portrait" />
    <input type="button" value="upload" class="js_portrait" />
</form>

<a href="javascript:;" class="js_logout c-block">注销</a>
<%- include ../footer %>
