/* common */
.users-btn{color: #fff;padding: 0 10px;background-color: #007d6c;line-height: 26px;font-size: 16px;cursor: pointer;}
.users-btn:hover{background-color: #f1570e;}
.users-card{background-color: rgba(255, 255, 255, 0.4);border-radius: 10px;text-align: center;}
.users-form input, .users-form textarea{line-height: 16px;padding: 7px 10px;width: 220px;font-size: 16px;display: block;box-shadow: inset 1px 1px 2px #999;color: #666;}
.users-bg{background: #09b39c url('/images/svg/banner.svg') no-repeat 0 0;background-size: cover;}

/* dialog */
.dialog-mn{position: fixed;width: 260px;text-align: center;border-radius: 5px;}
.dialog-message{padding: 30px 0;font-size: 16px;color: #666;}
a.dialog-btn{line-height: 40px;font-size: 14px;color: #0aab94;border-top: 1px dashed #dad7d7;}

/* index */
.banner{min-height: 181px;padding: 50px;}
.banner span{font-size: 100px;color: rgba(255, 255, 255, 0.6);line-height: 181px;float: left;}
/* login */
.login{padding: 20px 30px;width: 240px;float: right;}
.login input, .login button, .login a{font-size: 16px;margin: 10px 0;}
.login a{margin-left: 40px;color: #005d50;text-decoration: underline;line-height: 26px;display: inline-block;}
/* lst */
.profile-lst li{margin-bottom: 15px;padding: 20px;}
.user-title{position: relative;padding-left: 65px;}
.user-title img{width: 50px;height: 50px;border-radius: 50%;position: absolute;left: 0;top: 0;}
.user-title span{display: inline-block;line-height: 50px;color: #999;font-size: 16px;}
.user-info{font-size: 12px;color: #999;margin: 15px 0;}
.user-info span{padding-right: 10px;}
.user-intro{font-size: 16px;color: #717070;line-height: 22px;}

/* register */
.register{background-position: -1500px 0;height: 100%;width: 100%;position: fixed;top: 0;left: 0;}
.register div{padding: 10px 30px;width: 240px;margin: 40px auto;background-color: rgba(255, 255, 255, 0.4);}
.register input, .register textarea{margin: 20px 0;}
.register textarea{height: 100px;line-height: 22px;}
.register button{margin-bottom: 10px;line-height: 36px;border-radius: 15px/50%;padding: 0 20px;}

/* profile */
.profile-info img, .profile-info form, .portrait-file{width: 100px;height: 100px;border-radius: 50%;}
.profile-info{text-align: center;color: #fff;font-size: 14px;padding: 30px 0 20px;background-position: -200px 0;position: relative;}
.profile-info h3{font-size: 20px;margin: 20px 0;}
.profile-info form{position: absolute;top: 30px;overflow: hidden;}
.profile-info a{color: #fff;position: absolute;right: 10px;top: 10px;}
.profile-bio{margin: 20px 0;}
.profile-bio span{font-size: 13px;margin: 0 7px;}
.profile-intro{font-size: 14px;padding: 20px 50px 20px 20px;color: #717070;line-height: 20px;position: relative;}
.profile-intro span{position: absolute;color: #005d50;right: 10px;}
.portrait-file{opacity: 0;}
.change-info{box-shadow: 0 0 2px #ccc;padding: 20px 30px;text-align: center;display: none;}
.change-info input{display: block;font-size: 16px;line-height: 16px;padding: 7px 0;border-bottom: 1px solid #eee;color: #999;width: 100%;}
.change-info button{margin-top: 20px;color: #005d50;font-size: 16px;}

@media screen and (max-width: 1020px) {
    .banner{padding: 50px 0;background-position: -200px 0;}
    .banner span{display: none;}
    .login{margin: 0 auto;float: none;}
}