<%- include ../header %>
<section class="publish">
    <form id="form_publish" class="expo-form">
        <input type="text" id="diary_title" name="diary_title" placeholder="简明扼要哒标题" />
        <textarea id="diary_content" name="diary_content" placeholder="美源于生活点滴~"></textarea>
    </form>
    <button class="js_publish expo-btn">发布</button>
    <a href="javascript:;" class="js_back">返回</a>
</section>
<script src="/js/publish.js"></script>
<%- include ../footer %>