<%- include ../header %>
<section class="register expo-bg">
    <div class="expo-card">
        <form id="form_register" class="expo-form">
            <input type="text" id="user_name" name="user_name" placeholder="用户名" />
            <input type="password" id="user_password" name="password" placeholder="密码" />
            <input type="text" id="user_sex" name="sex" placeholder="性别" />
            <input type="text" id="user_tel" name="tel" placeholder="电话" />
            <input type="text" id="user_qq" name="qq" placeholder="QQ" />
            <textarea id="user_intro" name="intro" placeholder="描述一下自己~"></textarea>
        </form>
        <button class="js_register expo-btn">register</button>
        <a href="javascript:;" class="js_back">返回</a>
    </div>
</section>
<script src="/js/register.js"></script>
<%- include ../footer %>