<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>chat</title>
    <link rel="stylesheet/less" href="/css/style.less" />
</head>
<body>
<script id="module_dialog" type="text/x-module">
    <div class="c-mask js_mask">
        <div class="dialog c-center">
            <span class="c-block">$message</span>
            <a href="javascript:;" class="$btnClass">确定</a>
        </div>
    </div>
</script>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
<!--<script src="http://cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>-->
<script src="/js/main.js"></script>